<tr>
    <td> ID_SC </td>
    <td> ID_SC </td>
</tr>
<tr>
    <td> <button id="GPIO5" onclick="togglePin(this, {{device.id}})"> GPIO5 </button></td>
    <td>Ground</td>
</tr>
<tr>
    <td> <button id="GPIO6" onclick="togglePin(this, {{device.id}})"> GPIO6 </button></td>
    <td> <button id="GPIO12" onclick="togglePin(this, {{device.id}})"> GPIO12 </button></td>
</tr>
<tr>
    <td> <button id="GPIO13" onclick="togglePin(this, {{device.id}})"> GPIO13 </button></td>
    <td>Ground</td>
</tr>
<tr>
    <td> <button id="GPIO19" onclick="togglePin(this, {{device.id}})"> GPIO19 </button></td>
    <td> <button id="GPIO16" onclick="togglePin(this, {{device.id}})"> GPIO16 </button></td>
</tr>
<tr>
    <td> <button id="GPIO26" onclick="togglePin(this, {{device.id}})"> GPIO26 </button></td>
    <td> <button id="GPIO20" onclick="togglePin(this, {{device.id}})"> GPIO20 </button></td>
</tr>
<tr>
    <td>Ground</td>
    <td> <button id="GPIO21" onclick="togglePin(this, {{device.id}})"> GPIO21 </button></td>
</tr>