<tr>
    <td>3.3v DC Power</td>
    <td>5v DC Power</td>
</tr>
<tr>
    <td> <button id="GPIO2" onclick="togglePin(this, {{device.id}})"> GPIO2 </button></td>
    <td>5v DC Power</td>
</tr>
<tr>
    <td> <button id="GPIO3" onclick="togglePin(this, {{device.id}})"> GPIO3 </button></td>
    <td>Ground</td>
</tr>
<tr>
    <td> <button id="GPIO4" onclick="togglePin(this, {{device.id}})"> GPIO4 </button></td>
    <td> <button id="GPIO14" onclick="togglePin(this, {{device.id}})"> GPIO14 </button></td>
</tr>
<tr>
    <td>Ground</td>
    <td> <button id="GPIO15" onclick="togglePin(this, {{device.id}})"> GPIO15 </button></td>
</tr>
<tr>
    <td> <button id="GPIO17" onclick="togglePin(this, {{device.id}})"> GPIO17 </button></td>
    <td> <button id="GPIO18" onclick="togglePin(this, {{device.id}})"> GPIO18 </button></td>
</tr>
<tr>
    <td> <button id="GPIO27" onclick="togglePin(this, {{device.id}})"> GPIO27 </button></td>
    <td>Ground</td>
</tr>
<tr>
    <td> <button id="GPIO22" onclick="togglePin(this, {{device.id}})"> GPIO22 </button></td>
    <td> <button id="GPIO23" onclick="togglePin(this, {{device.id}})"> GPIO23 </button></td>
</tr>
<tr>
    <td>3.3v DC Power</td>
    <td> <button id="GPIO24" onclick="togglePin(this, {{device.id}})"> GPIO24 </button></td>
</tr>
<tr>
    <td> <button id="GPIO10" onclick="togglePin(this, {{device.id}})"> GPIO10 </button></td>
    <td>Ground</td>
</tr>
<tr>
    <td> <button id="GPIO9" onclick="togglePin(this, {{device.id}})"> GPIO9 </button></td>
    <td> <button id="GPIO25" onclick="togglePin(this, {{device.id}})"> GPIO25 </button></td>
</tr>
<tr>
    <td> <button id="GPIO11" onclick="togglePin(this, {{device.id}})"> GPIO11 </button></td>
    <td> <button id="GPIO8" onclick="togglePin(this, {{device.id}})"> GPIO8 </button></td>
</tr>
<tr>
    <td>Ground</td>
    <td> <button id="GPIO7" onclick="togglePin(this, {{device.id}})"> GPIO7 </button></td>
</tr>